<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @program.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @program.teacher_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @program.price %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
